@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(52, 37, 111, 0.597);
}

.navbar {
  height: 5rem;
  width: 120vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  color:black;
 
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.MenuItems {
  margin: 1rem;
  cursor: pointer;
}

.MenuItems :hover {
  color: red;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid burlywood;
}

.active {
  color: burlywood;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid burlywood;
}

.MenuImg {
  background: white;
  color: rgb(193, 30, 30);
  
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 6rem;
  object-fit: cover;
  height: 3rem;
  width: 6rem;
  margin: 1rem;
  
  
}


/* INTRODUCTION */

#intro {
  height: 600px;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
  /* box-sizing: border-box; */
  border-radius: 50%; 
  width: 100vh; /* Adjust as needed */
  /* height: 150px;  */
}

.introcontent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 300;
  color: black;
}

.introName {
  color: yellow;
}

.intropara {
  font-size: medium;
  font-weight: 3000;
  color: white;
  letter-spacing: 1px;
}
/* .btn{
  width:80px;
	height: 40px;
	display: flex;
  margin-top:52px;
	justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    background-color:black;
    border-radius: 5px;
	color:#ffffff;
  
} 
.call{
  width: 10rem;
  margin-left:190px;
  padding: 0 20px;
  background-color: black;
  color: red;
  display: inline-flex;
  	justify-content: space-around;
    align-items: center;
   
  
} */

.button-container {
  display: flex;
}

.btn,
.call {
  height: 40px;
  font-size: 1.4rem;
  background-color: black;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 52px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 10rem;
}

.call {
  width: 10rem;
  margin-left: 20px; /* Adjusted margin to create space between buttons */
}

@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
  }
  .introcontent {
    font-size: 10vw;
  }

  .hello {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  .bg {
    right: -10vw;
  }
}

/* Skills */

.skills_section {
  width: 100%;
  height: 100vh;
  padding: 0px 13%;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_head {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}
.skills_head h2 {
  font-size: 30px;
  margin-bottom: -5px;
}
.skills_head h2 span {
  color: #e74d06;
}
.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}
.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #e74d06;
  border-radius: 25px;
}
.skill_bar .bar .html {
  width: 90%;
  animation: html 2s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skill_bar .bar .css {
  width: 85%;
  animation: css 2s;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.skill_bar .bar .sass {
  width: 80%;
  animation: sass 2s;
}
@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill_bar .bar .js {
  width: 80%;
  animation: css 2s;
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill_bar .bar .react {
  width: 75%;
  animation: react 2s;
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
.skill_bar .bar .node {
  width: 70%;
  animation: node 2s;
}
@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
.skill_bar .bar .express {
  width: 65%;
  animation: express 2s;
}
@keyframes express {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
.skill_bar .bar .mongo {
  width: 60%;
  animation: mongo 2s;
}
@keyframes mongo {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* Project */

.project h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
}

article {
  --img-scale: 1.001;
  --title-color: white;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #2d2c2c;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: '';
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Btn {
  width: 100px;
  height: 40px;
  display: flex;
  margin-top: 52px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: black;
  border-radius: 5px;
  color: #ffffff;
}

/* Contact */

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #439f54; */
}
#contact h1 {
  color: black;
  font-size: 3rem;
}
#contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-color: black;
}
#contact form input,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ffffff2d;
  color: #ffffff;
  border-radius: 5px;
}
#contact form textarea {
  height: 150px;
}
#contact form input[type='submit'] {
  /* width: 20px; */
  height: 45px;
  background: linear-gradient(90deg, #ff1414 20%, #f70000);
  color: white;
  text-transform: uppercase;
}
@media (max-width: 620px) {
  #contact form {
    width: 90%;
  }
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
  }
}
